// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

$fa-font-path:        "../webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
    background-color: white;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.04);
}

.router-link-exact-active {
    background-color: #3f51b5;
    color: white !important;
}

.table-action {
    text-align: center;
}