<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Purchase Orders</h3>
                        <div class="card-tools">
                            <button class="btn btn-success" @click.prevent="openModal"> New Order <i class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                       <table class="table table-striped">
                           <thead>
                               <th>Reference #</th>
                               <th>Supplier</th>
                               <th class="table-action">Action</th>
                           </thead>
                           <tbody>
                               <tr v-for="order in orders" :key="order.id">
                                   <td>{{order.ref_no}}</td>
                                   <td>{{order.supplier}}</td>
                                   <td class="table-action">
                                       <button class="btn btn-sm btn-primary">View</button>
                                       <button class="btn btn-sm btn-danger">Cancel</button>
                                       <button class="btn btn-sm btn-success">Recieve</button>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="formModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form @submit.prevent="submitOrder">
            <div class="modal-body">
                <div class="form-group">
                    <input v-model="form.supplier" type="text" name="supplier"
                        placeholder="Enter Supplier"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('supplier') }">
                    <has-error :form="form" field="supplier"></has-error>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                    <select name="type" v-model="productSelector" class="form-control">
                        <option v-for="product in products" :key="product.id" :value="product">{{product.name}}</option>
                    </select>
                    <span class="input-group-append">
                        <button type="button" @click.prevent="addProduct" class="btn btn-primary">Add <span class="fas fa-plus"></span></button>
                    </span>
                    </div>
                </div>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <th>Code</th>
                        <th>Product</th>
                        <th>Cost</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr v-for="(po, index) in productsOrdered" :key="po.id">
                            <td>{{po.code}}</td>
                            <td>{{po.name}}</td>
                            <td>{{po.cost}}</td>
                            <td class="table-action">
                                <button @click.prevent="removeProduct(index)" class="btn btn-sm btn-danger"><span class="fas fa-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Submit Order</button>
            </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                orders : [],
                products : [],
                productSelector : "",
                productsOrdered : [],
                form : new Form({
                    id:'',
                    ref_no:'',
                    status:'',
                    supplier:'',
                    p_ids:[],
                })
            }
        },
        methods: {
            openModal(){
                $('#formModal').modal();
            },
            submitOrder(){
                this.$Progress.start()
                this.form.post('/api/orders')
                .then(()=>{
                    $('#formModal').modal('hide')
                    Swal.fire(
                        'Success!',
                        'Purchase order has been submitted',
                        'success'
                    )
                    this.form.clear();
                    this.form.reset();
                    this.form.p_ids=[];
                    this.productSelector="";
                    this.productsOrdered="";
                    this.$Progress.finish();
                    this.loadOrders();
                })
                .catch(()=>{
                    this.$Progress.fail()
                })
            },
            addProduct(){
                this.productsOrdered.push(this.productSelector);
                this.form.p_ids.push(this.productSelector.id);
            },
            removeProduct(index){
                this.productsOrdered.splice(index,1);
                this.form.p_ids.splice(index,1);
            },
            loadOrders(){
                 axios.get('/api/orders')
                .then(({data}) => (this.orders = data));
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created() {
           this.loadOrders();

            axios.get('/api/products')
            .then(({data}) => (this.products = data));
        }
    }
</script>
