<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Products</h3>
                        <div class="card-tools">
                            <button class="btn btn-success" @click.prevent="newProduct">New Product <i class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-stripeds">
                            <thead>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Cost</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr v-for="product in products" :key="product.id">
                                    <td>{{product.code}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.cost}}</td>
                                    <td>
                                        <button @click.prevent="editProduct(product)" class="btn btn-warning btn-sm"><span class="fas fa-pen"></span> Update</button>
                                        <button @click.prevent="removeProduct(product.id)" class="btn btn-danger btn-sm"><span class="fas fa-trash"></span> Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
         <div class="modal fade" id="formModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 v-show="!editmode" class="modal-title"><span class="fas fa-user-plus"></span> New Product</h4>
                    <h4 v-show="editmode" class="modal-title"><span class="fas fa-user-edit"></span> Update Product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form @submit.prevent="editmode ? updateProduct() : createProduct()">
                
                <div class="modal-body">
                    <div class="form-group">
                        <input v-model="form.code" type="text" name="code"
                            placeholder="Product Code"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('code') }">
                        <has-error :form="form" field="code"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.name" type="text" name="name"
                            placeholder="Product Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>
                    <div class="form-group">
                        <textarea v-model="form.description" type="text" 
                                name="description" class="form-control" :class="{ 'is-invalid': form.errors.has('description') }" placeholder="A short product description">
                        </textarea>
                        <has-error :form="form" field="description"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.cost" type="number" min="0" name="cost"
                            placeholder="Cost"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('cost') }">
                        <has-error :form="form" field="cost"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.price" type="number" min="0" name="price"
                            placeholder="Price"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('price') }">
                        <has-error :form="form" field="price"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-warning">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Add User</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                products : [],
                form : new Form({
                    id: '',
                    code: '',
                    name: '',
                    description: '',
                    price: '',
                    cost: '',
                })
            }
        },
        methods: {
            loadProducts(){
                axios.get('/api/products').then(({data}) => (this.products = data))
            },
            removeProduct(id){
                this.$Progress.start()
                 Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then((result)=>{
                    if(result.value){
                        this.form.delete('/api/products/'+id)
                        .then(()=>{
                            this.$Progress.finish()
                            Swal.fire(
                            'Deleted!',
                            'Product has been deleted.',
                            'success'
                            )
                            this.loadProducts();
                        })
                        .catch(()=>{
                            this.$Progress.fail()
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: 'Please contact your system administrator.'
                            })
                        })
                    }else{
                        this.$$Progress.fail()
                    }
                })
                .catch(()=>{
                    this.$Progress.fail()
                })
            },
            newProduct(){
                this.editmode = false;
                this.form.reset();
                this.form.clear();
                $('#formModal').modal();
            },
            editProduct(product){
                this.editmode = true;
                $('#formModal').modal();
                this.form.reset()
                this.form.clear()
                this.form.fill(product)
            },
            updateProduct(){
                this.$Progress.start()
                this.form.put('/api/products/' + this.form.id)
                .then(()=>{
                    $('#formModal').modal('hide')                    
                    this.loadProducts();
                    Swal.fire(
                        'Success!',
                        'Product has been updated!',
                        'success'
                    )
                    this.$Progress.finish()
                })
                .catch(()=>{
                    this.$Progress.fail()
                });
            },
            createProduct(){
                this.$Progress.start();
                this.form.post('/api/products')
                .then(()=>{
                    $('#formModal').modal('hide')
                    this.loadProducts();
                    Swal.fire(
                        'Success!',
                        'New product has been added',
                        'success'
                    )
                    this.form.reset()
                    this.$Progress.finish()
                })
                .catch(()=>{
                    this.$Progress.fail()
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
            this.loadProducts()
        }
    }
</script>
