<template>
    <div class="container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title"> Users</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="addUser">New User <i class="fas fa-user-plus"></i></button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Registered At</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td><span class="tag tag-danger">{{user.type|upText}}</span></td>
                        <td>{{user.created_at|formatDate}}</td>
                        <td>
                            <button @click="editModal(user)" class="btn btn-sm btn-warning"><span class="fas fa-edit"></span> Modify</button>
                            <button @click="deleteUser(user.id)" class="btn btn-sm btn-danger"><span class="fas fa-trash"></span> Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="addNew">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 v-show="!editmode" class="modal-title"><span class="fas fa-user-plus"></span> New User</h4>
                    <h4 v-show="editmode" class="modal-title"><span class="fas fa-user-edit"></span> Update User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form @submit.prevent="editmode ? updateUser() : createUser()">
                
                <div class="modal-body">
                    <div class="form-group">
                        <input v-model="form.name" type="text" name="name"
                            placeholder="Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.email" type="email" name="email"
                            placeholder="Email Address"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>
                    <div class="form-group">
                        <textarea v-model="form.bio" type="text" 
                                name="bio" class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }" placeholder="A short user's bio">
                        </textarea>
                        
                        <has-error :form="form" field="bio"></has-error>
                    </div>
                    <div class="form-group">
                        <select name="type" v-model="form.type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option value="">Select User Role</option>
                            <option value="admin">Administrator</option>
                            <option value="user">Standard User</option>
                            <option value="author">Author</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.password" type="password" name="password"
                            placeholder="Password"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-warning">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Add User</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                users: [],
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: '',
                })
            }
        },
        methods: {
            updateUser(){
                this.$Progress.start()
                this.form.put('/api/user/'+ this.form.id)
                .then(()=>{
                    $('#addNew').modal('hide')                    
                    Fire.$emit('loadUserTbl')
                    Swal.fire(
                        'Success!',
                        'User has been updated!',
                        'success'
                    )
                    this.$Progress.finish()
                })
                .catch(()=>{
                    this.$Progress.fail()
                });
            },
            editModal(user){
                this.editmode = true;
                this.form.reset()
                this.form.clear()
                $('#addNew').modal();
                this.form.fill(user)
            },
            addUser(){
                this.editmode = false;
                this.form.reset()
                this.form.clear()
                $('#addNew').modal();
            },
            deleteUser(id){
                this.$Progress.start()
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/user/'+id)
                        .then(()=>{
                                this.$Progress.finish()
                                Swal.fire(
                                'Deleted!',
                                'User has been deleted.',
                                'success'
                                )
                                Fire.$emit('loadUserTbl')
                        })
                        .catch(()=>{
                            this.$Progress.fail()
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: 'Please contact your system administrator.'
                            })
                        })
                    }else{
                        this.$Progress.finish()
                    }
                })
            },
            loadUsers(){
                axios.get('api/user').then(({data}) => (this.users = data.data))
            },
            createUser(){
                this.$Progress.start()
                this.form.post('api/user')
                .then(()=>{
                    $('#addNew').modal('hide')
                    
                    Fire.$emit('loadUserTbl')
                    Swal.fire(
                        'Success!',
                        'New user has been added',
                        'success'
                    )
                    this.$Progress.finish()
                })
                .catch(()=>{
                    this.$Progress.fail()
                })
            }
        },
        mounted() {
            this.loadUsers();
            Fire.$on('loadUserTbl',()=>{
                this.loadUsers();
            });
        }
    }
</script>
